<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <section class="swiper-js-container background-image-holder">
        <%= render "static_pages/header_2" %>
    </section></br>

    <section id="about" class="slice-lg sct-color-1">
        <%= render "static_pages/about_2" %>
    </section>
    <section id="newsletter" class="slice-xl bg-base-1">
         <%= render "static_pages/newsletter" %>                    
    </section>
    <section id="testimonials" class="slice-lg sct-color-2 border-top border-bottom">
        <%= render "testimonials.html.erb" %>
    </section>
    <section id="blueblock" class="cta-wrapper">
        <%= render "blue_block.html.erb" %>
    </section>
</div>
