<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">

                    <!-- Slider -->
                    <section class="swiper-js-container background-image-holder">
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-autoheight="true">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="holder-item sct-color-2 slice-xl pb-0">
                                        <div class="container d-flex align-items-center">
                                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                                <div class="col-lg-5 text-center text-lg-left align-self-center">
                                                    <h2 class="heading heading-1 strong-400 animated" data-animation-in="fadeInUp" data-animation-delay="200">
                                                        Bordelais? Envie de changer de vie?
                                                    </h1>
                                                    <p class="lead mt-4 animated" data-animation-in="fadeInUp" data-animation-delay="600">
                                                        Nous sommes à Bordeaux! Apprend à coder en 3 mois. Un nouvel horizon est à la portée de ton clavier!
                                                    </p>

                                                    <a href="https://www.thehackingproject.org/modalites" target="_blank" class="btn btn-styled btn-base-1 btn-circle mt-4 animated" data-animation-in="fadeInUp" data-animation-delay="1200">
                                                        En savoir plus
                                                    </a>
                                                </div>

                                                <div class="col-lg-7 ml-lg-auto align-self-end">
                                                    <img src="<%= image_path('slider/elements/model-m-2.png') %>" class="img-fluid img-center animated" data-animation-in="fadeIn" data-animation-delay="200">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-lg pb-2 sct-color-1 border-top">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space">
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        <div class="block-icon rounded bg-base-1">
                                            <i class="ion-ios-people-outline"></i>
                                        </div>
                                        <h2 class="heading heading-5 strong-600">Peer-to-Peer Learning</h2>
                                        <p class="px-2 mt-1">
                                            Une nouvelle façon d'apprendre, testée depuis plus d'un an et qui a fait ses preuves.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        <div class="block-icon rounded bg-base-1">
                                            <i class="ion-ios-pulse"></i>
                                        </div>
                                        <h2 class="heading heading-5 strong-600">Rythme soutenu, c'est pas pour les fragiles.</h2>
                                        <p class="px-2 mt-1">
                                            Suivi et corrections collectives pour une amélioration continue.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        <div class="block-icon rounded bg-base-1">
                                            <i class="ion-ios-star-outline"></i>
                                        </div>
                                        <h2 class="heading heading-5 strong-600">Des projets stimulants et concrets</h2>
                                        <p class="px-2 mt-1">
                                            Scrapper des pages, faire des bots, un ecommerce? Ca ne te fera plus peur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="">
                        <div class="container">
                            <div class="delimiter--style-1">
                                <div class="delimiter-title-wrapper">
                                    <div class="delimiter-title">
                                        <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Pourquoi nous?</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="slice-lg sct-color-1">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space align-items-center">
                                <div class="col-md-6 col-12">
                                    <img src="<%= image_path('prv/other/img-16-1000x900.jpg') %>" class="img-fluid img-center rounded z-depth-2-top">
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="col-wrapper--spaced-x text-center text-lg-left">
                                        <h3 class="heading heading-2 strong-500">
                                            THP, c'est la légion.
                                        </h3>
                                        <footer class="blockquote-footer">
                                            <cite title="Source Title">Charles, Co-Founder</cite>
                                        </footer>
                                        <p class="text-lg line-height-1_8 mt-4">
                                            Avec THP tu pourras, et il faudra, te surpasser. Prépares toi à découvrir un nouveau monde pleins de possibilités qui t'amenerons sur un nouveau chemin.
                                        </p>
                                        <a href="https://www.thehackingproject.org/modalites" class="btn btn-styled btn-base-4 btn-circle mt-4">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-xl bg-base-1">
                            <%= render  "static_pages/newsletter" %>                    
                        </section>

                    <section class="slice-lg sct-color-2 border-top border-bottom">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-3">
                                <h3 class="section-title-inner">
                                    Le meilleur investissement que tu feras cette décennie.
                                </h3>
                            </div>
                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm text-center">
                                <p class="text-lg line-height-1_8 strong-300">
                                    Change de vie, augmente ton salaire, change de boîte, vise ton taff de rêve
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row pricing-plans pricing-plans--style-3">

                                <div class="col-lg-3">
                                </div>

                                <div class="col-lg-6">
                                    <div class="block block-pricing">
                                        <div class="plan-title-wrapper">
                                            <h2 class="plan-title heading heading-6 text-capitalize strong-500">Une formule</h2>
                                            <h3 class="price-tag no-padding">Gratuite</h3>
                                        </div>

                                        <div class="block-body text-center px-4">
                                            <p>
                                                La formation est entièrement gratuite. Nous demandans simplement une caution de 314,15€ qui sera rendu si tu finis la formation.
                                            </p>
                                        </div>

                                        <div class="py-4 border-top text-center">
                                            <a href="https://www.thehackingproject.org/modalites" class="btn btn-styled btn-base-1 text-capitalize">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                </div>
                            </div>

                            <div class="pb-5 pt-4">
                                <div class="delimiter--style-1">
                                    <div class="delimiter-title-wrapper">
                                        <div class="delimiter-title">
                                            <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Témoignage</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-js-container mt-4">
                                <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" data-swiper-autoplay="5000">
                                            <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                                                <div class="col-md-2 col-sm-4 col-6">
                                                    <img class="testimonial-image" src="<%= image_path('prv/people/person-1.jpg') %>">
                                                </div>
                                                <div class="col-md-7 col-sm-8 col-10">
                                                    <div class="testimonial-content">
                                                        <p class="lead line-height-1_8 testimonial-text">
                                                            “J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération.”
                                                        </p>
                                                        <h4 class="heading heading-4 strong-600 mt-4 mb-0">Juan-Pablo ANGARITA</h4>
                                                        <span class="heading-sm strong-300">International Business Developer — Doleads</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide" data-swiper-autoplay="5000">
                                            <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                                                <div class="col-md-2 col-sm-4 col-6">
                                                    <img class="testimonial-image" src="<%= image_path('prv/people/person-2.jpg') %>">
                                                </div>
                                                <div class="col-md-7 col-sm-8 col-10">
                                                    <div class="testimonial-content">
                                                        <p class="lead line-height-1_8 testimonial-text">
                                                            “En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation !”
                                                        </p>
                                                        <h4 class="heading heading-4 strong-600 mt-4 mb-0">Isabelle Bonnet</h4>
                                                        <span class="heading-sm strong-300">Freelance</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="cta-wrapper">
                        <a href="https://goo.gl/9BbH7R" target="_blank">
                            <div class="slice cta-inner bg-base-1">
                                <div class="flex flex-items-xs-middle">
                                    <div class="flex-wrap-item">
                                        <div class="sct-inner ">
                                            <div class="container">
                                                <div class="text-center">
                                                    <h1 class="heading heading-3 text-normal c-base-text-1 strong-400">
                                                        Prend ta carrière en main, et prend de l'avance sur le marche en apprenant à coder!
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </section>

                    <!-- FOOTER -->
                    <footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-5">
                    <div class="col">
                        <div class="copyright mt-4">
                            <p>
                                Copyright &copy; 2018                                <a href="https://www.thehackingproject.org/" target="_blank">
                                    <strong>THP</strong>
                                </a> -
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->