<!-- MAIN WRAPPER -->
<div class="body-wrap">

                    <!-- Slider -->
                    <section class="swiper-js-container background-image-holder">
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-autoheight="true">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="holder-item sct-color-2 slice-xl pb-0">
                                        <div class="container d-flex align-items-center">
                                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                                <div class="col-lg-5 text-center text-lg-left align-self-center">
                                                    <h2 class="heading heading-1 strong-400 animated" data-animation-in="fadeInUp" data-animation-delay="200">
                                                        The hacking project
                                                        L'école de demain
                                                    </h1>
                                                    <p class="lead mt-4 animated" data-animation-in="fadeInUp" data-animation-delay="600">
                                                        Apprends à coder en seulement 83 jours, et GRATUITEMENT !
                                                    </p>

                                                    <a href="https://www.thehackingproject.org/" target="_blank" class="btn btn-primary btn-xl page-scroll" data-animation-in="fadeInUp" data-animation-delay="1200">
                                                        En savoir plus ?

                                                    </a>
                                                </div>

                                                <div class="col-lg-7 ml-lg-auto align-self-end">
                                                    <img src="<%= image_path('slider/elements/moche.png') %>" class="img-fluid img-center animated" data-animation-in="fadeIn" data-animation-delay="200">

                                                </div>

                                                </div>

                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                   <section class="slice-lg pb-2 sct-color-1 border-top">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space">
                                <div class="col-lg-4">
                                    <div class="icon-block icon-block--style-2-v1 text-center">
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    
                                <div class="col-lg-4">
                                    
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="">
                        <div class="container">
                            <div class="delimiter--style-1">
                                <div class="delimiter-title-wrapper">
                                    <div class="delimiter-title">
                                        <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Pourquoi nous ?</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

               <section class="slice-lg sct-color-1">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space align-items-center">
                                <div class="col-md-6 col-12">
                                    <img src="<%= image_path('prv/other/img-16-1000x900.jpg') %>" class="img-fluid img-center rounded z-depth-2-top">
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="col-wrapper--spaced-x text-center text-lg-left">
                                        <h3 class="heading heading-2 strong-500">
                                               
                                            Qui sommes-nous ?

                                        </h3>
                                        <footer class="blockquote-footer">
                                            <cite title="Source Title">La philosophie derrière ce projet fou</cite>
                                        </footer>
                                        <p class="text-lg line-height-1_8 mt-4">
                                            Pour nous l'éducation est un bien beaucoup trop important pour n'être confié qu'à des organismes qui font payer leurs élèves plusieurs milliers d'euros par année. Nous souhaitons rendre l'apprentissage ouvert à tous et accessible au plus grand nombre. Comme notre nom l’indique, nous nous inspirons au maximum de l’esprit hacker. Nous encourageons l’accès libre à la connaissance, l’apprentissage par la débrouillardise et l’efficience dans la résolution de problèmes. Les hackers construisent des solutions efficaces et anticonformistes aux dysfonctionnements de ce monde. Les parcours que l'on donne ne sont que des étapes (fascinantes) du voyage.
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="">
                        <div class="container">
                            <div class="delimiter--style-1">
                                <div class="delimiter-title-wrapper">
                                    <div class="delimiter-title">
                                        <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Nos avantages</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="row cols-xs-space cols-sm-space">
                                                    <img src="<%= image_path('slider/elements/thp.png') %>" class="img-fluid img-center animated" data-animation-in="fadeIn" data-animation-delay="200">
                                                    </div>
                        </div>
                    </section>

                    <section class="slice-xl bg-base-1">
                    <%= render  "static_pages/newsletter" %>                    
                    </section>

                    <section class="slice-lg sct-color-2 border-top border-bottom">
                       

    

                            <span class="space-xs-xl"></span>

                           
                                <div class="col-lg-4">
                                    <div class="block block-pricing">
                                       

                                        
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="block block-pricing">
                                        

                                        
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="block block-pricing">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="pb-5 pt-4">
                                <div class="delimiter--style-1">
                                    <div class="delimiter-title-wrapper">
                                        <div class="delimiter-title">
                                            <h3 class="heading heading-xs mb-0 text-uppercase strong-600">Témoignages</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-js-container mt-4">
                                <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="1" data-swiper-space-between="0">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" data-swiper-autoplay="5000">
                                            <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                                                <div class="col-md-2 col-sm-4 col-6">
                                                    <img class="testimonial-image" src="<%= image_path('prv/people/person-1.jpg') %>">
                                                </div>
                                                <div class="col-md-7 col-sm-8 col-10">
                                                    <div class="testimonial-content">
                                                        <p class="lead line-height-1_8 testimonial-text">
                                                            “La formation revêt énormément d'aspects qui m'ont enthousiasmé : Le peer-learning, le programme intense, Ruby et Ruby on Rails qui sont simplement passionnants, le programme couvre un large panel de langages et techniques.
                                                            En projet final, nous avons travaillé sur le site de THP, c'était une expérience enrichissante.
                                                            Grâce à THP, je commence un stage et mon projet de reconversion se concrétise plus que je ne l'aurais pensé !”
                                                        </p>
                                                        <h4 class="heading heading-4 strong-600 mt-4 mb-0">Julien Laville</h4>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="swiper-slide" data-swiper-autoplay="5000">
                                            <div class="row cols-xs-space testimonial text-center text-sm-left justify-content-center">
                                                <div class="col-md-2 col-sm-4 col-6">
                                                    <img class="testimonial-image" src="<%= image_path('prv/people/person-2.jpg') %>">
                                                </div>
                                                <div class="col-md-7 col-sm-8 col-10">
                                                    <div class="testimonial-content">
                                                        <p class="lead line-height-1_8 testimonial-text">
                                                            “Je me suis beaucoup amusée pendant THP, à tel point que j'ai décidé de poursuivre mon apprentissage du code. Et pour cela : rien de mieux que de rejoindre une équipe technique avec des stars du code. Je cherchais si possible une boite Fintech étant donné mon bagage financier. J'ai donc rejoins l'équipe de devs de KissKissBankBank. En parallèle, j'essaye de lancer mon premier produit sur Amazon.”
                                                        </p>
                                                        <h4 class="heading heading-4 strong-600 mt-4 mb-0">Claire Maffei</h4>
                                           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    

                    <!-- FOOTER -->
                    <footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-5">
                    <div class="col">
                        <div class="copyright mt-4">
                            <p>
                                Copyright &copy; 2018                                <a href="https://www.thehackingproject.org/" target="_blank">
                                    <strong>THP</strong>
                                </a> -
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->