<!DOCTYPE html>
<html>
  <head>
    <title>SuperLandingPageBoomerang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 
    <link href="<%= image_path('favicon-thp.png') %>')" rel="icon" type="image.png">
  </head>

  <body>
      <div class="container">
          <%= render 'layouts/messages' %>
        </div>
      <a href="#" class="back-to-top btn-back-to-top"></a>
      <%= yield %>
  </body>
</html>
